# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
uploads/

# Docker volumes
postgres_data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db